/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    width: 100%;
    padding: 50px;
}

#address {
    border: 1px solid #000090;
    background-color: #f0f9ff;
    width: 50%;
    padding-right: 2px;
}

#address td {
    font-size: 10pt;
}

.field {
    width: 100%;
}
